#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: #2c2c2c;
    color: #ffffff;
    border: 1px solid #D6A800;
    padding: 10px;
}

a {
    color: #D6A800;
    text-decoration: none;
}

a:hover {
    color: #ffcc00;
}

a:visited {
    color: #bfa300;
}
